body{
background-color: hotpink;
  
}
.img{
margin-top: 50px;
}
.list{
	font-family: sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 80px;
	margin-top: 10px;
}
.OFFER{
	font-size: 60px;
	font-style: italic;
	font-family: sans-serif;
	font-weight: bolder;
	color: rgb(199, 20, 29);

}
footer{
	font-size: 20px;
	background-color: red;
	font-style: italic;
	flood-color: green;
	}
mark{
	display: inline;
	font-style: italic;
	font-size: 30px;
	background-color:blueviolet ;
}